.transactionHistory {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.headItem {
  padding: 10px;
  border: 1px solid black;
}

.bodyItem {
  padding: 10px;
  border: 1px solid black;
}
